<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">

    <testsuites>
        <testsuite name="Hope Util Test Case">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">dist</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" title="Hope\Util" charset="UTF-8" yui="true" highlight="true" lowUpperBound="50" highLowerBound="90"/>
    </logging>

</phpunit>